{% extends "common/master.html" %}

{% block title %}
    Members
{% endblock %}
{% block login %}
    <div class="rightnavelement"><a href="/login">LOGIN</a></div>
    <div class="rightnavelement"><a href="/register">REGISTER</a></div>
{% endblock %}

{% block content %}
<div class="mycard">
    <h1> Members</h1>
    <ul class="list">
    {% for member in members %}
        <li class="listmembers"><a href="details/{{member.username}}">{{ member.firstname }} {{ member.lastname }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}